* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.app__input{
  padding: 20px;
}
.app__headerImage {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  display: grid;
  padding: 20px;
  place-items: center;
}

.app__loginContainer{
  padding: 20px;
}
