* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  width: 100px;
  height: 35px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}