.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}
.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__detail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
